.mod_slideshow {
}

.mod_slideshow .images { display: none; }

.mod_slideshow .slides {
	position: relative;
	text-align: center;
}

.mod_slideshow .slides .slide {
	width: 100%;
}

.mod_slideshow .slides .slide + .slide {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.mod_slideshow .slides img {
	display: inline-block;
	*display: inline;
	*zoom: 1;

	border-radius: 5px;
}

.mod_slideshow .slides .slide:first-child img { box-shadow: 0 0 10px #333; }
.mod_slideshow .slides .slide + .slide img { opacity: 0; }

.mod_slideshow .selector {
	margin-top: 5px;
	text-align: center;
}

.mod_slideshow .selector > div {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.mod_slideshow .selector > div > div {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 10px;
	height: 10px;
	margin: 0px;
	
	background: url(../images/bullets.png) 0 0 no-repeat;
	cursor: pointer;
}
.mod_slideshow .selector > div > div.active { background-position: -10px 0; }
