#wrapper {
	margin: 66px auto 10px;
	width: 960px;
}

#top {
	padding-bottom: 15px;
	margin-bottom: 15px;
	position: relative;
	border-bottom: 1px solid black;
}

#logo {
	float: left;
}

#main-menu {
	position: absolute;
	bottom: 10px;
	right: 0;
}

#masthead {}

#content {}

#component {
	margin: 20px 0 ;
}

#bottom {
	margin-bottom: 33px;
	padding-bottom: 15px;
	border-bottom: 1px solid #DEDEDE;
}

#bottom-menu {
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	margin: 33px 0 10px;
	padding: 5px 0;
}

#footer {
	margin: 10px 0 20px;
	position: relative;
}
