/* styles */
.clr, .clear { clear: both; }
.left { float: left; }
.right { float: right; }

.hidden { display: none; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
/* TODO Update selection BG color */
::-moz-selection{ background: #00abe4; color:#000; text-shadow: none; }
::selection { background:#00abe4; color:#000; text-shadow: none; }

.clearfix {
	clear: both;
	height: 0;
	visibility: hidden;
	display: block;
}